langchain==0.0.339
python-dotenv==1.0.0
streamlit==1.22.0
faiss-cpu==1.7.3
tiktoken==0.3.0
protobuf==3.19.0
torch==2.2.0
transformers==4.29.2
sentence-transformers==2.2.2
tokenizers==0.13.3
datasets==2.13.1
